---
layout: page
title: Registration
---

<div class="section">
  <h2>General Info</h2>
  <p>
    {{ site.data.registration.info }}
  </p>
</div>

{% if site.data.registration.posters? %}
  <div class="section">
    <h2>Posters and Talks</h2>
    <p>
      {{ site.data.registration.posters }}
    </p>
  </div>
{% endif %}


<div class="row center">
    <a href="https://www.eventbrite.co.uk/e/tiqit-tickets-31325711045" target="_blank" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Register</a><br>
  </div>




<div class="section">
  <h2>Deadline for registration and payment</h2>
  <p>{{ site.data.registration.deadlines.info }}<p>
  <ul class="collection">
  {% for item in site.data.registration.deadlines.specs %}
    <li
      class="collection-item black-text">
      {{ item.text }}
      
    </li>
    {% for item2 in item.subpoints %}
      <li
        
        class="collection-item black-text custom1 lighten-5">
        {{ item2.text }}
        {% if item.url != "#!" %}
          <span class="badge custom1 white-text">{{ item2.button }}</span>
        {% endif %}
      </li>
    {% endfor %}
  {% endfor %}
  </div>
</div>



<div class="section">
  <h2>Terms and conditions</h2>
  <p>{{ site.data.registration.terms.info }}<p>
  <ul class="collection">
  {% for item in site.data.registration.terms.specs %}
    <li class="collection-item black-text">
      {{ item.text }}
      {% if item.url contains "IAPS" %}
        <span class="badge white-text"><a {% if item.url contains "http://" %}
           href="{{ item.url }}"
        {% else %}
           href="{{ site.url }}/{{ item.url }}"
        {% endif %}>{{ item.button }}</a></span>
      {% endif %}
    </li>
    {% for item2 in item.subpoints %}
      <li
        class="collection-item black-text custom1 lighten-5">
        {{ item2.text }}
        {% if item.url != "#!" %}
          <span class="badge custom1 white-text">{{ item2.button }}</span>
        {% endif %}
      </li>
    {% endfor %}
  {% endfor %}
  </ul>
</div>

